body {
  margin: 0;
}

#app{
  font-family: NotoSansSC, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: NotoSansSC;
  src: url("./font/NotoSansSC-Regular.otf");
}

$gray: #eff3f8;
$c73b8f5: #73b8f5;
$el-menu-bg: #f5f7fa;
$el-menu-item-bg: #50c1e9;
$blue-0d63fa: #0d63fa;
$blue-409eff: #409eff;

@mixin flex-hc {
  display: flex;
  align-items: center;
}

@mixin flex-hvc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.nav-cls{
  height: 60px;
  width:500px;
  position: relative;
  left: 150px;
  *{
    color: #909399;
    font-weight: 600;
  }
}

.el-header_cls {
  background-color: #eff3f8;
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 12px 0 rgb(115, 184, 245, 0.3);
  z-index: 10;
}

.el-aside {
  .el-menu_cls {
    background: $el-menu-bg;
    min-height: 680px;
    background: #f3f6fa;
    box-shadow: 2px 0 12px 0 rgba(202, 64, 64, 0.1);

    .el-menu-item {
      background: $el-menu-item-bg;

      &:hover,&.is-active {
        color: var(--el-color-white);
        background-color: $blue-409eff;
      }
      &.is-active{
        border-right: 4px solid var(--el-color-white);
      }
    }
  }
}

.el-main_cls {
  position: relative;
  background: url("@/assets/bg.jpeg") no-repeat center;
  background-size: cover;

  // z-index: -2;
  .grid-bg {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("@/assets/grid.svg");
  }
}


// 面包屑样式
.el-breadcrumb_cls {
  margin: 0;
  padding: 0;
  border-radius: 999px;
  background-color: $el-menu-item-bg;
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  box-shadow: 0px 0 12px 0 rgb(115, 184, 245, 0.3);
  min-height: 40px;

  .el-breadcrumb-item {
    font-size: 14px !important;

    .el-breadcrumb__inner {
      color: var(--el-color-white);
    }

    .el-breadcrumb__separator {
      color: $blue-0d63fa;
    }
  }
}

// 卡片
.card-wrap {
  padding: 10px;
  border-radius: 5px;
  background: $gray;
  box-shadow: 0px 0 12px 0 rgb(115, 184, 245, 0.3);
  @include flex-hvc;
  flex-direction: column;
  border: 2px solid $el-menu-item-bg;
}

// 下拉菜单样式
.el-dropdown_cls {
  margin-left: 700px;

  .el-dropdown-link {
    @include flex-hc;
    font-size: 12px;
    color: var(--el-color-white);
    background: var(--el-color-primary);
    padding: 4px 8px;
    border-radius: 999px;
    border: 1px solid $blue-409eff;
  }
}

// 表格样式
.el-table {
  border: 1px solid var(--el-border-color);

  .el-table__header {
    .el-table__cell {
      background: #eef2fe;
    }
  }
}